.calculator-container {
  margin-top: 20px;
  width: 600px;
  height: auto;
  border: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 8px 5px 15px rgb(59, 65, 113);
}

.title {
  color: white;
  font-size: 40px;
  text-align: center;
  font-style: italic;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: 80px;
  padding: 5px 55px;
  font-size: 50px;
  background-color: #d3d3d3;
  color: white;
  font-weight: 700;
}

.buttons-group {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 100px 100px 100px 100px;
}

.bottom-group {
  display: grid;
  grid-template-columns: auto 147px 136px;
  grid-template-rows: 100px;
}
